[user]
    name = Albert Netymk
    email = albertnetymk@gmail.com
[diff]
    tool = vimdiff
[color]
    ui = true
[merge]
    tool = vimdiff
[mergetool]
    keepBackup = false
[alias]
    cm = commit
    ss = status
    ck = checkout
    br = branch
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    sm = show -s --format=full
[core]
    excludesfile = /home/albertnet/.gitignore
