body {
	font: 80% sans-serif;
	background: #ccc;
}

h1 {
	padding: 0;
	border: 0;
	margin: 0;
}

h2, h3 {
	color: #036;
}

a {
	color: white;
	background: #17a;
}

a:visited {
	color: #ccc;
}

a:hover {
	background: #28b;
}

#container {
	border: solid #036;
	margin: auto;
	padding: 0;
	width: 80em;
}

.accessaid {
	height: 0;
	position: absolute;
	overflow: hidden;
}

#header {
	background: blue;
	height: 6em;
}

#navigation {
	position: relative;
	top: 3em;
	float: left;
	width: 12em;
}

#navigation ul {
	list-style: none;
	padding: 0;
	margin: 0 0 1em 0;
}

#navigation ul a{
	display: block;
	padding: 0 0.5em; 
	margin: 0 1em 1px 1em;
}

#content {
	padding: 1em 0.5em 1em 3em;
	border-left: 12em solid #036;
}

#content img {
	border: solid 1px;
	margin: 0 0 1em 1em;
	float: right;
}




