body {
	font: 80% arial, helvetica, sans-serif;
	background: #ccc; 
	margin: 1em;
}

.accessaid, h1 {
	position: absolute;
	height: 0;
	overflow: hidden;
}

#header {
	background: #036 url(images/charlesdarwin.gif);
	height: 5em;
}

#navigation {
	position: absolute;
	top: 6em;
	left: 0;
	width: 134px;
}

#navigation ul {
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
}

#navigation ul a {
	color: white;
	text-decoration: none;
	display: block;
	padding: 0 0.5em;
	background: #17a;
	margin: 0 1em 1px 1em;
}

#navigation a:visited {
	color: #ccc;
}

#navigation a:hover {
	background: #28b;
}

#content {
	padding: 1px 20px 1em 40px;
	border-left: 134px solid #069;
}

h2 {
	font-size: 1.5em;
	color: #036;
}

h3 {
	font-size: 1.25em;
	color: #036;
}

#content img {
	width: 100px;
	height: 150px;
	padding: 1px;
	border: 1px solid #333;
	float: right;
	margin: 0 0 1em 1em;
}

#container {
	position: relative;
	width: 80%;
	border: solid #036;
	margin: auto;
}
